/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media (max-width: 2000px) and (min-width: 799px) {
  .logo {
    display: none;
  }
}

/* Portrait and Landscape */
@media (max-width: 800px) {
  // Header and Navs (diff on landing page)

  body {
    font-size: 7px;
    color: white;
    font-weight: 300;
    font-style: normal;
    margin-bottom: none;
    padding: 1em 1em 1em 1em;
  }

  // Blurb
  aside {
    .mainBlurb {
      padding-top: 0;
      margin-top: 0;
    }

    .workButton a {
      line-height: 1px;
      color: $medium-color;
      font-weight: 700;
      letter-spacing: normal;
      padding-left: 0;
      font-family: "serenity", Arial, Helvetica, sans-serif;

      a .workButton {
        font-size: 3px;
      }
    }
  }

  h2 {
    font-size: 2em;
    line-height: 0.7em;
  }

  .name {
    display: none;

    span {
      display: none;
    }
    .periodtt {
      display: none;
    }
  }

  .homeNav #menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 1em;
    justify-content: space-around;
    font-size: 7px;
    font-weight: 800;
    padding: 0 0 0 0;

    li {
      padding: 1em 1em 1em 2em;
    }
    .homeNav,
    img {
      top: 7em;
      position: absolute;
      width: 25vh;
      height: 25vh;
      position: fixed;
      opacity: 50%;
      z-index: 0;
      pointer-events: none;
    }

    #menu {
      line-height: 0;
      margin-top: 0;
      padding: 0;

      a {
        color: $light-color;
        padding: 0;
      }
    }
  }

  // MainNav
  .mainNav {
    font-size: 7px;
    grid-template-columns: repeat(2, 1fr);
    font-weight: 300;
    justify-items: center;
    margin-top: 1px;

    #menu {
      margin-top: 0;
      padding: 0;
      font-size: 7px;

      a {
        color: $light-color;
      }
    }
  }

  section {
    .aboutContainer {
      grid-gap: none;

      .bio {
        padding-left: 0;
        margin-top: 0;

        p {
          text-align: inherit;
          font-size: 20px;

          .resumeLink {
            text-transform: lowercase;
            color: rgba(246, 94, 60, 1);
          }
        }
      }
      ul {
        text-align: center;
        line-height: 2em;
        padding-bottom: none;
      }
    }
  }

  // Contact
  #contact,
  .contactImg {
  }

  .contactContainer,
  .contactTitle {
    font-size: 9px;
  }
  // Last bracket
}
