/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    font-size: 4em;
  }

  .name span {
    font-size: 2px;
  }

  .periodtt {
    opacity: 0%;
    display: none;
  }

  .homeNav .mainNav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-weight: 500;
    justify-content: space-between;
    margin-top: 0.5em;

    #menu {
      display: grid;
      font-size: 1em;

      a {
        color: $light-color;
      }
    }

    #logo {
      display: none;
    }
  }

  .mainBlurb {
    .workButton {
      line-height: 2px;
      font-weight: 500;
      font-size: 1em;
      letter-spacing: normal;
      color: red;
    }
  }

  /* end curly brace */
}
