/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media (max-width: 800px) {
  // Header and Navs (diff on landing page)

  body {
    background: $home-color;
    font-size: 7px;
    color: white;
    font-weight: 300;
    font-style: normal;
    margin-bottom: none;
    // background-image: $image;
    // background-size: cover;
    padding: 0.5em 0.5em 0.5em 0.5em;

    .homeContact {
      background: white;
      padding: 0;
      margin: 0;
    }
  }

  // Blurb
  .mainBlurb {
    font-size: 3em;
  }

  .workButton {
    line-height: 2em;
    color: $medium-color;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 2em;
    font-family: "serenity", Arial, Helvetica, sans-serif;

    &:hover {
      border-color: transparent;
      background-color: $light-color;
      border-radius: 5px;
      transition: background-color 0.5s;
      padding: 2px 4px 2px 4px;
    }
  }
}

h2 {
  font-size: 2em;
  line-height: 0.7em;
}

.name {
  display: none;

  span {
    display: none;
  }
  .periodtt {
    display: none;
  }
}

.homeNav {
  display: grid;
  font-size: 8px;
  font-weight: 300;
  grid-gap: none;
  margin-top: 1px;
  padding: none;

  #menu {
    display: inline;
    margin-top: 0;
    padding: 0;
    font-size: 7px;

    a {
      color: $light-color;
      font-size: 7px;
      padding: none;
    }
  }
}

// MainNav
.mainNav {
  font-size: 7px;
  display: inline;
  grid-template-columns: repeat(2, 1fr);
  font-weight: 300;
  justify-items: center;
  margin-top: 1px;

  #menu {
    margin-top: 0;
    padding: 0;
    font-size: 7px;

    a {
      color: $light-color;
    }
  }
}

section {
  .aboutContainer {
    grid-gap: none;

    .bio {
      padding-left: 0;
      margin-top: 0;

      p {
        text-align: inherit;
        font-size: 20px;

        .resumeLink {
          text-transform: lowercase;
          color: rgba(246, 94, 60, 1);
        }
      }
    }
    ul {
      text-align: left;
      line-height: 2em;
      padding-bottom: none;
      overflow-wrap: inherit;
    }
  }

  .bioimg {
    border: 2px red solid;
  }
}
